<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    <meta charset="utf-8">
    <title>
        GoTo Achievement
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if is_admin %}
    <a class="navbar-brand" href="/index_admin">GoTo Achievement</a>
    {% endif %}
    {% if not is_admin %}
    <a class="navbar-brand" href="/index">GoTo Achievement</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users_list">Участники<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/achvs_list">Ачивки</a>
            </li>
            {% if is_admin %}
            <li class="nav-item">
                <a class="nav-link" href="/logout_page">Выход</a>
            </li>
            {% endif %}
            {% if not is_admin %}
            <li class="nav-item">
                <a class="nav-link" href="/login_page">Войти как администратор</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container" style="margin-top: 15px;">
    <div class="d-flex bd-highlight">
        <div class="p-2 w-75 bd-highlight">
            <div class="page-header">
                <h1>Все ачивки</h1>
            </div>
            <p></p>
            {% for achv in achvs %}
            <div class="card" style="width: 46rem">
                <div class="card-body">
                    <div class="d-flex bd-highlight">
                        <div class="p-2 w-25 bd-highlight">
                            <img src="{{achv.icon}}" width="150" class="rounded-circle">
                        </div>
                        <div class="p-2 w-75 bd-highlight">
                            <a href="/achv_page/{{achv.id}}">
                                <h3>{{ achv.title }}</h3>
                            </a>
                            <p>{{ achv.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            {% endfor %}
        </div>
        <div class="p-2 w-25 bd-highlight">
            <div class="d-flex bd-highlight">
                <form method="POST">
                    {% csrf_token %}
                    <center><h5>Найти ачивку</h5></center>
                    <input type="text" name="achv_id" id="achv_id" list="achvs">
                    <datalist id="achvs">
                        {% for achv in achvs %}
                        <option value="{{ achv.id }}">
                            {{ achv.title }}
                        </option>
                        {% endfor %}
                    </datalist>
                    <p></p>
                    <button type="submit" class="btn btn-success btn-lg" name="button">Поиск</button>
                    <p></p>
                    {% if is_admin %}
                    <a href="/new_achv" class="btn btn-primary btn-lg"> Создать ачивку</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>