<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    <meta charset="utf-8">
    <title>
        GoTo Achievement
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index_admin">GoTo Achievement</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users_list">Участники<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/achvs_list">Ачивки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout_page">Выход</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top: 15px ;">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h1>Главная страница Админа</h1>
            </div>
            <p>Добро пожаловать. Здесь вы можете добавить пользователям ачивки</p>
        </div>
    </div>
</div>
<br>
<div class="container" style="margin 100px 10px;">
    <form method="POST">
        {% csrf_token %}
        <div class="row mx-md-n2">
            <div class="col px-md-5">
                <div class="p-3 border bg-light">
                    <center><h5>Выберите участника</h5></center>
                    <input type="text" name="user" id="user" list="users">
                    <datalist id="users">
                        {% for user in users %}
                        <option value="{{user.core_id}}">
                            {{ user.first_name }} {{ user.last_name }}
                        </option>
                        {% endfor %}
                    </datalist>
                </div>
            </div>
            <div class="col px-md-5">
                <div class="p-3 border bg-light">
                    <center>
                        <button type="submit" class="btn btn-success btn-lg" name="button">Добавить ачивку
                        </button>
                    </center>
                </div>
            </div>

            <div class="col px-md-5">
                <div class="p-3 border bg-light">
                    <center><h5>Выберите ачивку</h5></center>
                    <input type="text" name="achv" id="achv" list="achvs">
                    <datalist id="achvs">
                        {% for achv in achvs %}
                        <option value="{{achv.id}}">
                            {{ achv.title }}
                        </option>
                        {% endfor %}
                    </datalist>
                </div>
            </div>
        </div>
    </form>
    <p></p>
    <h3>Топ-5 участников по количеству ачивок</h3>
    <div class="d-flex flex-row bd-highlight mb-3">
        {% for user in users %}
        <div class="p-2 bd-highlight">
            <div class="card" style="min-height: 175px; max-height:175px; min-width: 200px">
                <div class="card-body">
                    <a href="/user_page/{{user.core_id}}"><h5>{{user.first_name}} {{user.last_name}}</h5></a>
                    <p>{{users_kols|lookup:user.core_id}} Ачивок</p>
                    <img src="{{user.avatar}}" height="75" class="rounded-circle">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- -->
<!--
</p>
<form method="post" action="/logout">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger btn-lg" role="button" value="Выйти">
-->


</body>
</html>