<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    <meta charset="utf-8">
    <title>
        GoTo Achievement
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">GoTo Achievement</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users_list">Участники<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/achvs_list">Ачивки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login_page">Войти как администратор</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top: 15px;">
    <div class="card" style="width: 46rem">
        <div class="card-body">
            <div class="page-header">
                <h1>Главная страница</h1>
            </div>
            <p>Добро пожаловать. Отсюда вы можете перейти к списку всех пользователей или ачивок</p>
        </div>
    </div>
    <p>
    <h3>Топ-5 участников по количеству ачивок</h3>
    <div class="d-flex flex-row bd-highlight mb-3">
        {% for user in users %}
        <div class="p-2 bd-highlight">
            <div class="card" style="min-height: 175px; max-height:175px; min-width: 200px">
                <div class="card-body">
                    <h5>{{user.first_name}} {{user.last_name}}</h5>
                    <p>{{users_kols|lookup:user.core_id}} Ачивок</p>
                    <img src="{{user.avatar}}" height="75px" class="rounded-circle">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>