<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать ачивку</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if is_admin %}
    <a class="navbar-brand" href="/index_admin">GoTo Achievement</a>
    {% endif %}
    {% if not is_admin %}
    <a class="navbar-brand" href="/index">GoTo Achievement</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users_list">Участники<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/achvs_list">Ачивки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/index">Выход</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top: 15px;">
    <h1>
        Создать новую ачивку
    </h1>
    <p></p>
    <form method="POST">
        {% csrf_token %}
        <div class="card" style="width: 46rem">
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="1">Название ачивки</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" name="title">
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="3">Описание ачивки</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" name="description">
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="2">Ссылка на картинку</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" name="icon">
                </div>
                <input type="submit" class="btn btn-success">
            </div>
        </div>
    </form>
</div>
</body>
</html>